<h1>{{title}}</h1>
<nav class="navbar">
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/']">Home</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/users']">Register user</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/search']">Posts</a></li>
    <button class="btn">Login</button>
    <button class="btn">Logout</button>

  </ul>
</nav>
<router-outlet></router-outlet>
<!--<h2>The minimum is {{min(2,3)}}</h2>
<h2>The sum is {{sum(1,2)}}</h2>
<p>
  <label for="firstName">First Name</label>
  <input (keyup)="0" type="text" #firstName id="firstName">
</p>

<p>
  <label for="lastName">Last Name</label>
  <input (keyup)="0" type="text" #lastName id="lastName">
</p>
<input #someName>
&lt;!&ndash;<button (click)="">Click</button>&ndash;&gt;

<b>Welcome {{firstName.value}} {{lastName.value}} </b>
<br>
<br>
<br>
<label>
  Name:
  <input type="text" [formControl]="name">
</label>
<form [formGroup]="volunteerForm">
First Name:
  <input type="text" formControlName="firstName">
  Phone number:
  <input type="text" formControlName="phoneNumber">
</form>
<br>
<button (click)="backgroundToggle = !backgroundToggle">Toggle</button>-->
<!--<div [ngStyle]="{
width: '200px',
height: '200px',
borderRadius: '5px',
border: '1px solid #ccc',
background: backgroundToggle ? 'red' : 'yellow'
}"></div>-->
<!--
<p [ngClass]="{
  red: backgroundToggle,
  blue: !backgroundToggle
}">Lorem words</p>
-->
<!--<p
  [class.blue]="!backgroundToggle"
  [class.red]="backgroundToggle"

>Lorem ipsum dolor sit amet.</p>-->

<!--<p *ngIf="backgroundToggle" class="red">Lorem ipsum dolor sit amet.</p>
<p *ngIf="!backgroundToggle" class="blue">Lorem ipsum dolor sit amet.</p>-->

<!--<p *ngIf="backgroundToggle;else blueP" class="red">Lorem ipsum dolor sit amet.</p>
<ng-template #blueP>
  <p class="blue">Lorem ipsum dolor sit amet.</p>
</ng-template>-->

<!--<p *ngIf="backgroundToggle; then redP else blueP"></p>
<ng-template #redP><p class="red">Lorem ipsum dolor sit amet.</p></ng-template>
<ng-template #blueP><p class="blue">Lorem ipsum dolor sit amet.</p></ng-template>-->
<!--
<button (click)="backgroundToggle= 222">222</button>
<div [ngSwitch]="backgroundToggle ">
  <p *ngSwitchCase="true" class="red">Lorem ipsum dolor.</p>
  <p *ngSwitchCase="false" class="blue">Lorem ipsum dolor.</p>
  <p *ngSwitchDefault>Lorem ipsum dolor.</p>

</div>-->

<!--<ul>
  <li *ngFor="let n of arr; let idx = index">{{idx+1}}<strong>{{n}}</strong></li>
</ul>-->

<!--<ul>
  <li *ngFor="let o of objs">
    <p>{{o.lastName}}{{o.age}}</p>
    <ul>
      <li *ngFor="let ad of o.address">
        {{ad.city}}{{ad.street}}
      </li>
    </ul>

  </li>
</ul>
<ul>
  <li >
    <p>{{obj.firstName}}{{obj.lastName}}</p>
    <ul>
      <li>{{obj.address.city}} {{obj.address.street}}</li>
    </ul>
  </li>
</ul>
{{date | date}}-->
<!--this is good example-->
<!--<app-counter [count]="localNumber" (countChange)="localNumber=$event"></app-counter>-->

<!--this is bad example-->
<!--<app-counter [count]="localNumber" (countChange)="{{localNumber}}"></app-counter>-->

<!--this is good example-->
<!--<app-counter [ngModel]="localNumber"></app-counter>-->

<!--this is good example-->
<!--<app-counter [(count)]="localNumber"></app-counter>-->

<!--this is bad example-->
<!--<app-counter *count="localNumber">{{localNumber}}</app-counter>-->
<!--
<app-clothes></app-clothes>-->

<!--this is bad example-->
<!--<app-clothes items="[Hats]"></app-clothes>-->

<!--this is good example
<app-clothes [items]="['Shirts','Hats','Hoodies']"></app-clothes>-->

<!--this is a bad example
<app-clothes [items]="Shirts"></app-clothes>-->

<!--<app-clothes [items]="['Hats']"></app-clothes>
<app-form></app-form>-->


