<div>
  {{currentUser.name}}
  {{currentUser}}

  <div *ngIf="currentUser" class="details">



  <table >
    <!--<tr>
      <td>id:</td>
      <td><input type="text" [(ngModel)]="currentUser.userId" id="userId" name="userId" placeholder="id"></td>
    </tr>-->
    <tr>
      <td>name:</td>
      <td><input type="text" [(ngModel)]="currentUser.name" id="name" name="name" placeholder="name"></td>
    </tr>
    <tr>
      <td>password:</td>
      <td><input type="text" [(ngModel)]="currentUser.password" id="password" name="password" placeholder="password"></td>
    </tr>



  </table>
  <button (click)="save()">Update</button>
  <button (click)="goBack()">go back</button>
</div>
  <!--{{currentUser.userId}}
<div *ngIf="!currentUser.userId">
  <br />
  <p>Cannot access this user...</p>
</div>-->
</div>
